/* to anyone reading my code
i am a noob
plz excuse the excessive comments
i am making notes to myself as i learn
have a pleasant day */

/* in css, an asterisk selects all elements */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Onest;
}

:root {
    --imgMargin: 0px;
}

html {
    text-align: center;
}

body {
    background-color: aliceblue;
}

footer {
    background-color: rgb(101, 102, 121);
    color: white;
    margin: 0px;
    width: 100%;
    padding: 1vh;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.grid-container {
    display: grid;
    margin: 2vw;
    /* gap is the space between elements */
    /* gap: 1em, 2em is like gap between row and col */
    gap: 1em;
    grid-template-columns: auto 30vw;
}

.img-area {
    display: flex;
    justify-content: center;
    background-color: rgb(42, 43, 62);
    border-radius: 10px;
    overflow: hidden;
}

.img-area > img {
    margin: var(--imgMargin);
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(141, 147, 184);
    background-color: rgb(252, 252, 255);   
    padding: 2em;
}

/* parent > child */
.card > ul {
    list-style: none;
    /* removes bulleted list indent */
    padding-inline-start: 0px;
}
/* lol i switched to using divs instead of the ul though */

.slider-container {
    width: 100%;
}

.slider {
    /*wait*/
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
}